CVM_PRIVATE_KEY={{ cvm_private_key }}
NWC_CONNECTION_STRING={{ nwc_connection_string | default('') }}
BLOSSOM_SERVER_URL={{ blossom_server_url | default('http://localhost:3000') }}
CVM_RELAYS={{ cvm_relays | default('wss://relay.damus.io') }}
JOB_MAX_CONCURRENCY={{ job_max_concurrency | default('1') }}
JOB_TIMEOUT_MS={{ job_timeout_ms | default('300000') }}
JOB_MAX_ATTEMPTS={{ job_max_attempts | default('3') }}
IMAGE_FETCH_CONCURRENCY={{ image_fetch_concurrency | default('20') }}
